<ion-view title="About">
	<ion-content has-bouncing="false" class="">
		<div class="scaleVid ratio16x9">
			<img src="img/3a.jpg"/>
		</div>
		<div class="threeleaf-separator">HISTORY</div>
		<div class="padding">
			<p><b>God has been very gracious&nbsp;</b><b>to this church.</b><b>&nbsp;</b></p>
			<p>Over the past 4 years we have seen&nbsp;incredible growth and advancements in every area of our church. GracePoint is a loving and exciting church with amazing&nbsp;programs for people of all ages and stage. We are not perfect and we are not 100% where we need to be, but we are moving&nbsp;the ball forward. All of this is because of God's Grace....that's the Point.&nbsp;</p>
			<p><b>This is the place where&nbsp;</b><b>shame meets grace.&nbsp;</b></p>
			<p>GracePoint is that church where people don't have to pretend that they are perfect.&nbsp;<b></b>This is the place that has exciting worship and passionate, Gospel-centered teaching. GracePoint church is God's church and is not only changing our community, but the world.&nbsp;</p>
			<p>GracePoint Church has a long history of worship and service to the community. Shortly after the city of Coppell was founded in 1890, First Baptist Church was founded a few years later in 1896 with 19 charter members. The first building was erected and dedicated in 1901. The church remained in this first building until 1948, when a new building was erected in then downtown Coppell, at the intersection of what is now Bethel Road and Coppell Road. In the early 1970s the church moved to its current location on Denton Tap Road. On September 30, 2012 the church body voted to change the name of the church to GracePoint Church. GracePoint Church has always been geographically and spiritually near the heart of Coppell. Through the years devoted, caring people have always stood ready to minister to the community in the name of Jesus Christ. That spirit of love, compassion, and care that characterizes Jesus' ministry on the earth is alive, well and flourishing in GracePoint today.&nbsp;</p>
		</div>
		<div class="threeleaf-separator">MISSION STATEMENT</div>
		<div class="padding">
			<p>This is a statement you will see every Sunday in our worship service. This is who we are striving to be as a church. This statement contains 5 elements that come from the Great Commission and Great Commandment that will bring health and balance to the church: </p>
		<p>"We, the members who are GracePoint Church, Texas, will CONNECT with one another and our community, GROW in our relationship with God and others, SERVE one another with the love of Christ, SHARE that same love with the world personally, locally, and globally, and HONOR our Heavenly Father by the way we live our lives."</p>
		</div>
	</ion-content>
</ion-view>