<ion-view title="Contact">
	<ion-content class="">
		<div class="scaleVid ratio16x9">
			<img src="img/7a.jpg"/>
		</div>
		<div class="threeleaf-separator">CONTACT</div>
		<div class="padding">
			<h4>WEEKDAY INFORMATION</h4>
			<p>Office Hours:<br />
			Monday - Thursday: 9am to 5pm<br />
			Friday: 9am to Noon<br />
			To get to the church office enter the back/south entrance of the church by pressing the buzzer next to the door. Once inside travel straight and the offices are the double wooden doors on the right.</p>

			<h4>CONTACT INFORMATION</h4>
			<p>Physical Address:<br />
			590 S Denton Tap Road<br />
			Coppell, TX 75019</p>

			<h4>Mailing Address:</h4>
			<p>GracePoint Coppell<br />
			PO Box 109<br />
			Coppell, TX 75019</p>

			<p>Phone:<br />
			<a href="tel:+19724621643">972.462.1643</a></p>

			<p>Fax:<br />
			<a href="tel:+19723040100">972.304.0100</a></p>
		</div>
	</ion-content>
</ion-view>