<ion-view title="Giving">
	<ion-content class="">
		<div class="scaleVid ratio16x9">
			<img src="img/5a.jpg"/>
		</div>
		<div class="threeleaf-separator">JOIN OUR FAMILY</div>
		<div class="padding">
			<h4>Guests and One-Time Givers:</h4>
			<p>If you want to give without logging in, are giving for mission trip, do not need to see past giving history, or if you are not a regular attendee at GracePoint, please click the button below.&nbsp;<br></p>
			<p>
				<a href="#!/giving" onclick="window.open('https://gracepoint.ccbchurch.com/trx_submit.php?type=public_gift','_blank','location=no');" class="uk-button uk-width-1-1">CLICK HERE IF YOU WANT TO GIVE A ONE-TIME GIFT</a>
				<br>
			</p>
			<br>
			<h4>GracePoint Members &amp; Attendees:</h4>
			<p>
				<b>We recommend you&nbsp;create a profile within the GracePoint Online Community for giving. This will allow you to login and&nbsp;see past giving, pledges and set up&nbsp;reoccurring&nbsp;gifts. Here is how you do this:</b>
			</p>
			<p>
				<b>
					<br>
				</b>
			</p>
			<p>
				<b>
					<u>Step 1: Set Up Your Username and Password</u>
				</b>
				<br>
			</p>
			<p>
				<a href="#!/giving" onclick="window.open('https://gracepoint.ccbchurch.com/w_sign_up.php','_blank','location=no');" class="uk-button uk-width-1-1">CLICK HERE TO REQUEST A USERNAME AND PASSWORD</a>&nbsp;</p>
			<p>This step may take 1 business day to complete. So check your email (even junk folders) after completing this step. If you have not received an email within one business day, please call the church office at 972.462.1643.</p>
			<p>
				<br>
			</p>
			<p>
				<b>
					<u>Step 2: ONLINE GIVING (once you have Username and Password)</u>
				</b>
			</p>
			<p>
				<a href="#!/giving" onclick="window.open('https://gracepoint.ccbchurch.com/login.php?rurl=%2Ftrx_give.php','_blank','location=no');" class="uk-button uk-width-1-1">CLICK HERE TO SIGN IN AND GIVE</a>
			</p>
			<p>You can also view past transactions, pledges and setup reoccurring giving using this option.&nbsp;</p>
		</div>
	</ion-content>
</ion-view>