<ion-view view-title="Home" hide-back-button="true">
	<ion-nav-title>
		<img src="img/logo.png" class="title-image" />
	</ion-nav-title>
	<ion-content class="">
		<ion-refresher pulling-text="Pull to refresh..." on-refresh="doHomeRefresh()"></ion-refresher>
		<div class="fade-box">
		<ion-slide-box does-continue="true" auto-play="true" on-slide-changed="slideHasChanged($index)">
			<ion-slide ng-repeat="article in articles">
				<div class="box blue">
					<a href="#/tab/article/{{$index}}">
						<img ng-if="article.MediaImage.filename.length > 0" ng-src="{{imageDir+article.MediaImage.filename}}/width:800/height:450/crop:true/zoom:auto" style="width: 100%;" />
					</a>
				</div>
			</ion-slide>
		</ion-slide-box>
		<div ng-if="articles.length == 0">LOADING</div>
		</div>
		<div class="threeleaf-separator"><span class="threeleaf">oy</span> COMMUNITY FEED</div>
		<div class="padding">
			<a class="community_post" href="#/tab/post/{{$index}}" ng-repeat="post in posts">
				<div ng-switch on="post.CommunityPost.type">
					<div ng-switch-when="video">
						<img ng-if="post.MediaVideo.preview !== null" ng-src="{{imageDir+post.MediaVideo.preview }}/width:800/height:450/crop:true/zoom:auto/blur:true/greyscale:true" style="width: 100%;" />
					</div>
					<div ng-siwtch-default>
						<img ng-if="post.MediaImage.filename !== null" ng-src="{{imageDir+post.MediaImage.filename }}/width:800/height:450/crop:true/zoom:auto/blur:true/greyscale:true" style="width: 100%;" />
					</div>
				</div>
				<h4 class="redbg">{{post.CommunityPost.title}}</h4>
			</a>
			<div ng-if="posts.length == 0">LOADING..</div>
		</div>
	</ion-content>
</ion-view>