<ion-view title="Live">
	<ion-content class="">
		<div class="scaleVid ratio16x9">
			<iframe src="http://livestream.com/accounts/1408017/events/1342271/player?width=560&height=315&autoPlay=true&mute=false" width="560" height="315" frameborder="0" scrolling="no"> </iframe>
		</div>
		<div class="threeleaf-separator">LIVE MESSAGE</div>
		<div class="padding">
			<h4>SUNDAY INFORMATION</h4>
			<p>Service Starts at 9:30am<br />
			Followed by GatheringPoint, Life Groups, Children and Youth Activities.</p>

			<h4>WEEKDAY INFORMATION</h4>
			<p>Office Hours:<br />
			Monday - Thursday: 9am to 5pm<br />
			Friday: 9am to Noon<br />
			To get to the church office enter the back/south entrance of the church by pressing the buzzer next to the door. Once inside travel straight and the offices are the double wooden doors on the right.</p>

			<h4>CONTACT INFORMATION</h4>
			<p>Physical Address:<br />
			590 S Denton Tap Road<br />
			Coppell, TX 75019</p>

			<h4>Mailing Address:</h4>
			<p>GracePoint Coppell<br />
			PO Box 109<br />
			Coppell, TX 75019</p>

			<p>Phone:<br />
			972.462.1643</p>

			<p>Fax:<br />
			972.304.0100</p>
		</div>
	</ion-content>
</ion-view>