<ion-view title="New">
	<ion-content class="">
		<div class="scaleVid ratio16x9">
			<img src="img/4a.jpg"/>
		</div>
		<div class="threeleaf-separator">JOIN OUR FAMILY</div>
		<div class="padding">
			<p>We understand the importance of joining a local church. Many people don't truly understand the importance. The Bible says that we should not overlook the weekly assembly of ourselves together as believers in Jesus Christ.</p>

			<p>Currently here are our answers to your potential questions:</p>

			<p>How do I join GracePoint Church? <br />
			You must be a Christian and baptized by Biblical immersion to become an active member of GracePoint. Those desiring to join our church may do so in three ways. If you are coming from another Baptist church, your membership can be moved from that church to ours. If you are a believer, but have been a member of another church, you may join by a statement of faith. Finally, you may join the church by being baptized.</p>

			<p>Will I need to go through an orientation class before I am a member? <br />
			Yes. We believe that it is very important that we have members who just don't sit by and spectate on Sundays. We believe that it is time to "raise the bar" here at GracePoint  It is our desire that every member commit to these four things: 1) commit to weekend Worship attendance  2) Commit to Life Group membership either on or off campus 3) Commit to serving in a ministry area that we will help you determine 4) Commit to consistently giving to God's kingdom work here at GracePoint. Our CONNECT class will help get you started, introduce you  to the church, it's structure, our purpose, what we practice and why, and exactly what it means to be a member at GracePoint Church. Classes are announced on our calendar on the website, or contact the church at 972.462.1643 for class times.</p>

			<p>What if I have never been baptized? <br />
			Before you become a member, you may wish to speak to a minister, a member, or the senior pastor about baptism. Our church believes that baptism is a scriptural act of obedience. Jesus was baptized, he commands us to go and be baptized, and we see those who were trusting in Jesus as Lord and Savior were being saved and then baptized in the book of Acts. Again, if you would like to talk to someone about this decision, please contact the church office by phone at 972.462.1643 or email.</p>

			<p>How is someone baptized? <br />
			We baptize (greek: baptidzo) by immersion. The word "baptize" literally means, "to immerse or submerge."</p>

			<p>When should someone be baptized? <br />
			Baptism is a outward symbol of an inward decision. Because of this, it is only appropriate to be baptized by immersion after one has trusted in Jesus Christ as Lord and Savior. Because of this reason, we do not practice paedobaptism (infant baptism).</p>

			<p>May I speak with someone about your church's doctrine and theology before I join? <br />
			Absolutely! We encourage you to contact a minister or the senior pastor and arrange a connection time that you might discuss your questions regarding any aspects of our church theology, worship, or mission. If you like to explore finding the answers interactively, there is a great website (www.allaboutgod.com) that has a lot of helpful resources.</p>

			<p>Do I have to come down in front of everyone to join the church? <br />
			In short, No. In the back of each pew in our worship center, we have response cards. There are several boxes on that card that you can check which will let us know your decision. You are then able to give that card to an usher as you leave, drop it in the offering plate as it is passed during the worship service, or drop it at the information center in the foyer. </p>

			<p>What do I do after becoming a member? <br />
			It is our desire to lead you to a place of understanding that every member, that is you now, is a minister. That's right, you are a minister. God uniquely called and Shaped you to complete good works which He prepared in advance for you to do.  We encourage you to attend all of our Memeber Classes: CONNECT. GROW. SERVE. SHARE. HONOR. These classes are set around round tables and are lead by a master teacher. They are designed to take you deeper in your relationship with Christ and to understand God's purpose for your life.</p>
		</div>
	</ion-content>
</ion-view>