<ion-view title="Series">
	<ion-content>
		<ion-refresher pulling-text="Pull to refresh..." on-refresh="doSeriesRefresh()"></ion-refresher>
		<div class="scaleVid ratio16x9">
			<a ng-if="latestMessage.message.MessageSeries.MediaImage.filename.length > 0" href="#/tab/sermon/{{latestMessage.message.MessageMessage.id}}">
				<img ng-src="{{imageDir+latestMessage.message.MediaVideo.preview}}/width:800/height:450/crop:true/zoom:auto" style="width: 100%;" />
				<h4 class="latest_title">{{latestMessage.message.MessageMessage.title}}</h4>
			</a>
		</div>
		<div class="threeleaf-separator"><span class="threeleaf">oZ</span> SERMON SERIES</div>
		<div class="series_listing">
			<div class="series_list" ng-repeat="item in series">
				<div class="padding">
					<div class="scaleVid ratio16x9 ">
						<a ui-sref="tab.sermons({ seriesId:$index })" >
							<img ng-src="{{imageDir+item.MediaImage.filename}}/width:800/height:450/crop:true/zoom:auto" style="width: 100%;" />
						</a>
					</div>
				</div>
			</div>
			<div ng-if="series.length == 0">LOADING..</div>
		</div>
	</ion-content>
</ion-view>