<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>
<widget id="com.ionicframework.gracepointionic962622" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
	<name>GracePoint</name>
	<description>GracePoint App</description>
	<author email="info@greyback.net" href="http://greyback.net/">GreyBack Labs, LLP</author>
	<content src="index.html" />
	<access origin="*" />
	<preference name="webviewbounce" value="false" />
	<preference name="UIWebViewBounce" value="false" />
	<preference name="DisallowOverscroll" value="true" />
	<preference name="BackupWebStorage" value="none" />
	<feature name="StatusBar">
		<param name="ios-package" value="CDVStatusBar" onload="true" />
	</feature>
	<gap:platform name="ios" />
	<gap:platform name="android" />
	<gap:plugin name="org.apache.cordova.camera" version="0.2.9" />
	<gap:plugin name="org.apache.cordova.media" version="0.2.8" />
	<gap:plugin name="org.apache.cordova.media-capture" version="0.2.8" />
	<gap:plugin name="org.apache.cordova.file" version="1.0.1" />
	<gap:plugin name="org.apache.cordova.file-transfer" version="0.4.2" />
	<gap:plugin name="org.apache.cordova.network-information" version="0.2.7" />
	<gap:plugin name="org.apache.cordova.dialogs" version="0.2.6" />
	<gap:plugin name="org.apache.cordova.inappbrowser" version="0.5.2" />
	<gap:plugin name="com.phonegap.plugin.statusbar" />
	<gap:plugin name="com.ionic.keyboard" version="1.0.2" />
	<gap:plugin name="nl.x-services.plugins.backgroundaudio" version="1.0.0" />
	<gap:plugin name="nl.x-services.plugins.socialsharing" version="4.3.8" />
	<feature name="BackgroundAudio">
		<param name="ios-package" value="BackgroundAudio" />
		<param name="onload" value="true" />
	</feature>
</widget>
